<footer class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
      <form method="post">
        <label for="subscribeEmail">Email address*</label>

        <div class="form-group form-group-lg">
          <input id="subscribeEmail" class="form-control" type="email">
        </div>

        <button class="btn btn-block btn-lg btn-primary" type="submit">Subscribe</button>
      </form>
    </div>
  </div>

  <hr>

  <ul class="footer-links">
    <li>
      <a href="/volunteers">Volunteers</a>
    </li>
    <li>
      <a href="/professionals">Professionals</a>
    </li>
    <li>
      <a href="/working-for-us">Working for us</a>
    </li>
    <li>
      <a href="/news-and-press">News &amp; press</a>
    </li>
    <li>
      <a href="/media-assets">Media assets</a>
    </li>
  </ul>
</footer>
