<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ title }}</a>
    </div>

    <div id="main-navigation" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About us <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="/about-us/who-we-are">Who we are</a>
            </li>
            <li>
              <a href="/about-us/our-philosophy-and-values">Our philosophy and values</a>
            </li>
            <li>
              <a href="/about-us/awards-and-achievements">Awards and achievements</a>
            </li>
            <li>
              <a href="/about-us/executive-board">Executive board</a>
            </li>
            <li>
              <a href="/about-us/company-info">Company info</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/find-a-home">Find a home</a>
        </li>
        <li>
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Care &amp; support <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="/care-and-support/types-of-care">Types of care</a>
            </li>
            <li>
              <a href="/care-and-support/care-packages">Care packages</a>
            </li>
            <li>
              <a href="/care-and-support/daily-life">Daily life</a>
            </li>
            <li>
              <a href="/care-and-support/hospitality">Hospitality</a>
            </li>
            <li>
              <a href="/care-and-support/assessing-your-needs">Assessing your needs</a>
            </li>
            <li>
              <a href="/care-and-support/design-your-own-care-plan">Design your own care plan</a>
            </li>
            <li>
              <a href="/care-and-support/moving-in">Moving in</a>
            </li>
            <li>
              <a href="/care-and-support/harmony">Harmony</a>
            </li>
            <li>
              <a href="/care-and-support/select">Select</a>
            </li>
            <li>
              <a href="/care-and-support/clinical-governance">Clinical governance</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/advice-centre">Advice centre</a>
        </li>
        <li>
          <a href="/contact-us">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>











