<!doctype html>
<html dir="{{ dir }}" lang="{{ lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <link href="//fonts.googleapis.com/css?family=Roboto+Slab:700%7COpen+Sans:400,600,700" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
  {% block head %}{% endblock %}
</head>
<body>
  {% include 'partials/navbar.html' %}

  {% block content %}{% endblock %}

  {% include 'partials/footer.html' %}

  {% block javascript %}
    <script src="/assets/js/app.js"></script>
  {% endblock %}
</body>
</html>
